* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d6d6dc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  font-size: 60px;
  padding: 20px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* background-color: darkblue */
  color: rgb(3, 13, 51);
  border: gold solid;
}

.header img {
  float: center;
  /* padding: 15px; */
  width: 100px;
  height: 100px;
  border: gold double 5px;
}

.header h1 {
  display: inline-block;
  font-size: 50px;
  /* background-color: grey; */
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.header nav ul li {
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 20px;
  color: rgb(3, 13, 51);
}

.spacer {
  display: flex;
  height: 150px;
  width: 100%;
  /* margin-bottom: 25px; */
  background-color: rgb(3, 13, 51);
  margin: 5px;
  border: gold solid;
}

.content {
  /* display: flex; */
  flex-direction: column;
  margin-left: 5px;
}

#personal {
  display: flex;
  /* justify-content: center; */
  height: 150px;
  border: gold solid;
}

#about-me-header {
  color: rgb(3, 13, 51);
  /* display: flex; */
  /* justify-content: center; */
  height: 100%;
  width: 20%;
  border-right: 5px solid white;
  margin: auto;
  text-align: center;
  padding: 50px;
}

#about-me-text {
  display: flex;
  height: 100%;
  width: 80%;
  overflow: hidden;
  float: right;
  align-items: center;
}
#about-me-text p {
  flex: 1;
  align-items: center;
  margin: 10px;
}

.work {
  margin-bottom: 20px;

  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  width: 100%;
}

#applications-header {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 20%;
  float: left;
  border-right: 5px solid white;
  color: rgb(3, 13, 51);
  text-align: center;
}

.applictions-text {
  display: flex;
  min-height: 30px;
  color: (3, 13, 51);
  height: 20px;
  width: 80%;
  font-size: 30px;
}

.applictions-text {
  font-size: 30px;
}

h4 {
  color: rgb(245, 161, 66);
  font-size: 25px;
}

#portfolio {
  height: 600px;
  border: gold solid;

  /* background-color: red; */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  height: 95%;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.app-cards {
  /* display: block; */
  /* width: auto; */
  /* flex: 1 0 auto; */
  /* height: 200px;
  width: 200px; */
}

#app-1 {
  flex: 2;
  height: 100%;
  margin: 5px;
  border: black solid;
  background-image: url(../images/istockphoto-585763658-1024x1024.jpg);
  color: rgb(245, 161, 66);
}

#app-1 p {
  color: rgb(245, 161, 66);
}

img {
  object-fit: cover;
}

#app-2 {
  background-image: url(../images/ocean-3605547_640.jpg);
}

#app-3 {
  background-image: url(../images/pexels-pixabay-531880.jpg);
}

#app-4 {
  background-image: url(../images/istockphoto-1267676291-1024x1024.jpg);
}

#app-2,
#app-3,
#app-4 {
  flex: 1;
  height: 100%;

  margin: 5px;
  border: black solid;
}

.card-container p {
  color: rgb(245, 161, 66);

  margin: 5px;
  /* border: black solid; */
}

div {
  padding: 10px;
  margin: 10px;
}

.work h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.footer-container {
  display: flex;
  border: gold solid;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* text-align: left; */
  background-color: #0072bb;
  margin: 5px;
}

.footer-header {
  /* display: flex; */
  /* align-items: center; */
  /* height: 100%; */
  width: 19%;
  float: left;
  border-right: 5px solid white;
}

.footer-text {
  display: flex;
  flex: 1;
}
.email {
  flex: 1;
  border: black solid;
}

.linked-in {
  flex: 1;
  border: black solid;
}

a {
  color: black;
}

.phone {
  flex: 1;
  border: black solid;
}
